:root {
    --color-zero:#ffffff;
    --color-dark:#000000;

    --color-first:#2D2727;
    --color-second:#CF0A0A;
    --color-third:#DC5F00;
    
    --color-fourth:#EEEEEE;
    --color-fifth:#F2F2F2;
    --color-sixth:#6278f7;
    --color-seventh:#F0F0F0;
    --color-eighth:#212121;

    --color-test:#cbcdda;
}